html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
textarea {
    align-content: center;
    text-align: center;
}
.jumbotron {
    align-content: center;
    text-align: center;
}


.card {
    width: 350px;
    height: 245px;
    border-radius: 50px, 50px;
    float: left;
    margin: 10px;
    text-align: center;
    padding: 50px;
    
}
#header {
    align-content: center;
    text-align: center;
}

.container {
    text-align: center;
    align-content: center;
    position: relative;

}
img {
    height: 250px;
    /* border-radius: 50px; */
    width: 250px;
    object-fit: cover;
    
}
button {
  padding: 10px;
  margin-bottom: 20px;
}